<!doctype html>
<html lang="en">
  {{> head}}
  <body>
    <div class="d-flex flex-row home-search-container">
      <form class="home-search-form">
        <input class="form-control search-input" type="text">
      </form>
        <button class="btn btn-primary search-button">SEARCH</button>
    </div>
  </body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</html>
