<div class="header">
  <div class="d-flex flex-row justify-content-center search-container">
    <form class="search-form">
      <input class="form-control search-input" type="text">
    </form>
      <button class="btn btn-primary search-button">SEARCH</button>
  </div>
</div>
